/*====== visual ======*/
#visual {
	height: 600px !important;
}

#visual .bg {
	height: 600px !important;
    background-image: url(../../images/air/schedule.jpg);
}

.section_subtitle {
    font-family: 'Oswald', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #72728c;
    line-height: 0.75;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.section_title {
    color: #181818;
    margin-top: 26px;
}

.schedule-table {
	margin-top: 50px;
}

.schedule-table th {
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    font-weight: bold;
    overflow: hidden;
    word-break: normal;
    text-align: center;
}

.schedule-table td {
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    font-weight: normal;
    border-top: 1px solid #CBCBCB;
    border-bottom: 1px solid #CBCBCB;
    overflow: hidden;
    word-break: normal;
    color: #000;
    background-color: #F7FDFA;
    text-align: center;
    height: auto;
    padding: 15px;
}

.schedule-table tr:last-child {
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    font-weight: normal;
    border-top: 1px solid #CBCBCB;
    border-bottom: 2px solid #CBCBCB;
    overflow: hidden;
    word-break: normal;
    color: #fff;
    background-color: #F7FDFA;
    text-align: center;
    width: 190px;
    height: auto;
    padding: 25px;
}


.schedule-table .tg .tg-c3ow {
    border-color: inherit;
    text-align: center;
    vertical-align: top
}

.schedule-table .tg .tg-0pky {
    border-color: inherit;
    text-align: left;
    vertical-align: top
}

.list-number ul {
	text-align:center;
}
.list-number ul li {
	display:inline-block;
}
/* .list-number ul li a {
	display:inline-block;
	margin-top: 10px;
	color:#000;
	border-radius: 5px;
	text-align:center;
	text-decoration:none;
	background: #F3F3F3;
	width: 45px;
	height: 45px;
	line-height: 45px !important;
	font: bold 12px tahoma;
} */

.list-number ul li a:hover, .list-number ul li a:focus {
	color:#fff;
	background-color:#3598D9;
}

.air-s tr td:nth-child(1) {width: 8%;}
.air-s tr td:nth-child(2) {width: 14%;}
.air-s tr td:nth-child(3) {width: 8%;}
.air-s tr td:nth-child(4) {width: 12%;}
.air-s tr td:nth-child(5) {width: 6%;}

.airLS-contents {
	padding: 60px 0;
}

.table-header {
    padding: 10px !important;
}

.flight-day {
    width: 10px !important;
    padding: 10px 20px !important;
}

.w_color {
    background-color: #4d5164;
}

.h_color {
    background-color: #05a;
}

.w_check {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #4d5164 !important;
    border-radius: 20px;
}

.h_check {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #05a !important;
    border-radius: 20px;
}

/*********************************
3. Home Search
*********************************/

#ui-id-1, #ui-id-2 {
	width: 225px !important;
	position: relative !important;
	z-index: 600;
	border-top: 0 !important;
}

.home_search {
    width: 100%;
    height: 0;
    background: #FFFFFF;
    z-index: 1;
}

.home_search_container {
    position: absolute;
    top: -70px;
    width: calc(100% + 122px);
    left: -66px;
    padding-top: 47px;
    padding-left: 61px;
    padding-right: 61px;
    padding-bottom: 59px;
    background: rgba(255, 255, 255, 0.26);
    border-radius: 12px;
}

.home_search_title {
    width: auto;
    height: 55px;
    background: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    line-height: 55px;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    color: #2e2e2e;
    font-weight: 400;
    text-align: center;
    display: inline-block;
}

.home_search_title>label {
    display: inline-block;
    font-size: x-large;
    padding: 15px;
    text-align: center;
    width: 125px;
    line-height: 25px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: white;
    color: #777;
    border-width: 1px 1px 0
}

.home_search_title>label:hover {
    cursor: pointer;
}

.home_search_title input:nth-of-type(1),
.home_search_title input:nth-of-type(1)~div:nth-of-type(1),
.home_search_title input:nth-of-type(2),
.home_search_title input:nth-of-type(2)~div:nth-of-type(2) {
    display: none;
}

.home_search_title label[for=dept]:hover {
    background: lightskyblue;
    color: #fff;
}

.home_search_title label[for=arri]:hover {
    background: lightseagreen;
    color: #fff;
}

.home_search_content {
    width: 100%;
    background: #FFFFFF;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 67px;
}

.home_search_content a {
    position: absolute;
    left: 145px;
    top: 17px;
    font-size: 20px;
}

.search_input {
    height: 50px;
    background: #f2f5f6;
    border: none;
    outline: none;
    padding-left: 17px;
    font-family: 'Oswald', sans-serif;
    font-size: 14px !important;
    font-weight: 500 !important;
    color: #72728c !important;
}

.search_input_1 {
    width: 25%;
}

.search_input_2 {
    width: 20%;
}

.search_input_3 {
    width: 15%;
}

.search_input_4 {
    width: 10%;
}

.search_input::-webkit-input-placeholder {
    font-family: 'Oswald', sans-serif;
    font-size: 14px !important;
    font-weight: 400 !important;
    color: #72728c !important;
}

.search_input:-moz-placeholder {
    font-family: 'Oswald', sans-serif;
    font-size: 14px !important;
    font-weight: 400 !important;
    color: #72728c !important;
}

.search_input::-moz-placeholder {
    font-family: 'Oswald', sans-serif;
    font-size: 14px !important;
    font-weight: 400 !important;
    color: #72728c !important;
}

.search_input:-ms-input-placeholder {
    font-family: 'Oswald', sans-serif;
    font-size: 14px !important;
    font-weight: 400 !important;
    color: #72728c !important;
}

.search_input::input-placeholder {
    font-family: 'Oswald', sans-serif;
    font-size: 14px !important;
    font-weight: 400 !important;
    color: #72728c !important;
}

.home_search_button {
    width: 161px;
    height: 52px;
    background: #181818;
    color: #FFFFFF;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    border-radius: 20px;
    border: none;
    outline: none;
    cursor: pointer;
}

/*********************************
4. Destinations
*********************************/

.destinations {
    width: 100%;
    background: #FFFFFF;
    padding: 80px 0;
}

.subtitle {
	padding-bottom: 80px;
}

.section_subtitle {
    font-family: 'Oswald', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #72728c;
    line-height: 0.75;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.section_title {
    color: #181818;
    margin-top: 26px;
}

.datepicker-container {
	font-family: "Helvetica", "나눔고딕", "맑은고딕";
	color: black;
}

.banner img {
	position: absolute;
    left: 50%;
    top: 300px;
    bottom: 200px;
    margin-left: 600px;
    width: 250px;
    height: 500px;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
}

.bg-text {
	position: relative;
    z-index: 490;
    font-size: 100px;
    text-align: center;
    line-height: 600px;
    font-family: 'Oswald', sans-serif;
    color: white;
}