@charset "UTF-8";

/*====== visual ======*/
#visual .bg {
    background-image: url(../../images/member/bg4.jpg);
    background-position: center 47%;
}

.checkbox {
	font-size: 18px;
	padding: 10px;
}

.form_box {
	border: 3px solid #ff857c;
	width: 800px;
	margin: auto !important;
	padding: 30px;
}

#member_out_reason .btn {
	margin-top: 20px;
	width: 150px;
	height: 50px;
	font-size: 20px;
}

.delete_top {
	margin-bottom: 30px;
	margin-top: 10px;
}

.input_header {
	font-size: 20px;
}
