#visual {
	height: 850px !important;
}

.imageT {
	width: 100% !important;
	height: 500px !important;
}

.imgFor1 {
	width: 30px;
}

.ImageShot {
	margin-top: 10px;
}

.ThumImage {
	margin-top: 10px;
}

